{% extends 'base.html.twig' %}

{% block title %}REND-Tech{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ title }}</h1>
    <hr>

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Добро пожаловать в магазин REND-Tech</h1>
            <p class="lead text-muted">Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения, которые указаны в описании товара или при оформлении заказа - будьте внимательны!</p>
            <p>
                <a href="{{ path('shopList') }}" class="btn btn-primary my-2">Перейти в магазин</a>
            </p>
        </div>
    </section>
</div>
{% endblock %}
